.mmb_header {
  height: 0.88rem;
}
.mmb_header .logo .back {
  font-size: 0.68rem !important;
  color: #fff;
  position: absolute;
  top: 0.12rem;
  left: 0.3rem;
}
.mmb_middle {
  margin-right: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.24rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.mmb_smallnav {
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(#fff, #ebebeb);
  border-top: 0.02rem solid #ebebeb;
  border-bottom: 0.02rem solid #ccc;
  font-size: 0.28rem;
}
.mmb_smallnav .box_l {
  margin-left: 0.2rem;
}
.mmb_smallnav a {
  display: block;
  line-height: 0.72rem;
  text-align: center;
  float: left;
}
.mmb_smallnav .shaixuan {
  margin-top: 0.12rem;
  margin-right: 0.2rem;
  width: 1.2rem;
  line-height: 0.56rem;
  float: right;
  background-color: #eee;
  text-align: center;
  border-radius: 0.1rem;
  box-shadow: 0 0.02rem 0.04rem #888;
}
.select_body .header {
  width: 100%;
  height: 0.72rem;
  line-height: 0.72rem;
  padding-left: 0.24rem;
  color: #874604;
  font-size: 0.28rem;
  background: #f3f3f3;
  border: 1px solid #c8c8c8;
  border-left: none;
  border-right: none;
  font-weight: bold;
}
.select_body .select_content li {
  width: 100%;
  height: 1.28rem;
  border-bottom: 1px solid #c8c8c8;
  border-left: none;
  border-right: none;
  background-color: #fff;
}
.select_body .select_content li a {
  width: 100%;
  height: 1.28rem;
  padding-left: 0.4rem;
}
.select_body .select_content .top1 {
  display: inline-block;
  float: left;
  width: 0.4rem !important;
  height: 0.4rem !important;
  line-height: 0.4rem;
  background-color: #f10e0e;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}
.select_body .select_content .inner {
  height: 1.28rem;
  float: left;
  margin-left: 0.2rem;
  font-size: 0.28rem;
}
.select_body .select_content .inner .tit {
  font-size: 0.32rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
}
.select_body .select_content .inner span {
  display: block;
  height: 0.48rem !important;
  font-size: 0.28rem;
  color: #999;
  padding-top: 0.14rem !important;
}
.select_body .top2 {
  display: inline-block;
  float: left;
  width: 0.4rem !important;
  height: 0.4rem !important;
  line-height: 0.4rem;
  background-color: #ff9314;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}
.select_body .top3 {
  display: inline-block;
  float: left;
  width: 0.4rem !important;
  height: 0.4rem !important;
  line-height: 0.4rem;
  background-color: #8adf5b;
  color: #fff ;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}
.select_body .top4 {
  display: inline-block;
  float: left;
  width: 0.4rem !important;
  height: 0.4rem !important;
  line-height: 0.4rem;
  background-color: #c9c9c9;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}
.brandlist_product li {
  width: 100%;
  height: 2.36rem;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.2rem;
  background-color: #fff;
  position: relative;
}
.brandlist_product .pic {
  line-height: 2.36rem;
  width: 2rem;
  height: 2rem;
}
.brandlist_product .info {
  margin-left: 0.2rem;
}
.brandlist_product .tit {
  color: #333333;
  line-height: 0.44rem;
  font-size: 0.28rem;
}
.brandlist_product .price {
  width: 100%;
  height: 0.4rem;
  margin-top: 0.3rem;
}
.brandlist_product .price em {
  line-height: 0.4rem;
  font-size: 0.36rem;
  color: #ea3900;
  vertical-align: middle;
  float: left;
}
.brandlist_product .other {
  height: 0.36rem;
  line-height: 0.36rem;
}
.brandlist_product .other em {
  color: #a1a1a1;
  font-size: 0.24rem;
  margin-right: 0.2rem;
}
.star {
  position: absolute;
  top: 0.94rem;
  right: 0.2rem;
  width: 1.8rem;
}
.star5 {
  width: 1.8rem;
  color: #FF841D ;
}
.plbox {
  background: #f8f8f8;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
}
.plbox .name {
  width: 100%;
  height: 0.4rem;
}
.mmb_footer1 {
  padding-top: 0.4rem;
  width: 100% !important;
  max-width: 15rem;
}
#ctl00_foot {
  width: 100%;
  margin-top: 0.5rem;
}
#ctl00_foot .foot_top {
  width: 100%;
  height: 0.68rem;
}
#ctl00_foot .foot_top a {
  display: block;
  float: left;
  height: 0.68rem;
  line-height: 0.68rem;
  width: 33.3%;
  font-size: 0.28rem;
  text-align: center;
  border-right: 0.02rem solid #ccc;
  border-top: 0.02rem solid #ccc;
  border-bottom: 0.02rem solid #ccc;
}
#ctl00_foot .footer {
  text-align: center;
  font-size: 12px;
}
#ctl00_foot .footer p:last-child {
  color: #666;
}
