.mmb_top {
  background-color: #fff;
}
.mmb_smallnav {
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(#fff, #ebebeb);
  border-top: 0.02rem solid #ebebeb;
  border-bottom: 0.02rem solid #ccc;
  font-size: 0.28rem;
}
.mmb_smallnav .box_l {
  margin-left: 0.2rem;
}
.mmb_smallnav a {
  display: block;
  line-height: 0.72rem;
  text-align: center;
  float: left;
}
.mmb_smallnav .shaixuan {
  margin-top: 0.12rem;
  margin-right: 0.2rem;
  width: 1.2rem;
  line-height: 0.56rem;
  float: right;
  background-color: #eee;
  text-align: center;
  border-radius: 0.1rem;
  box-shadow: 0 0.02rem 0.04rem #888;
}
.mmb_productlist1 {
  width: 100%;
  height: 10rem;
  background-color: red;
}
.mmb_productlist1_son li {
  height: 2.36rem;
  width: 100%;
  padding: 0.2rem;
  font-size: 0.3rem;
  position: relative;
  background-color: yellow;
}
.mmb_productlist1_son li .pic {
  width: 2rem;
  height: 2.36rem;
  margin-top: 0.18rem;
  position: absolute;
  top: 0;
  left: 0.3rem;
}
.mmb_productlist1_son li .pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}
.mmb_productlist1_son li .top1 {
  color: #333;
  margin-left: 2.2rem;
  font-size: 0.28rem;
  line-height: 0.44rem;
}
.mmb_productlist1_son li .bottom {
  font-size: 0.24rem;
  width: 100%;
  padding-left: 2.2rem;
  padding-bottom: 0.2rem;
  position: absolute;
  bottom: 0;
}
.mmb_productlist1_son li .bottom .mall {
  color: #666;
}
.mmb_productlist1_son li .bottom .price {
  font-size: 0.36rem;
  color: red;
}
